Repository d4l-data4life/hc-fhir-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, fhir, sample-android, sample-ios, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/care/data4life/gradle/fhir/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Library
fhir:
  - fhir/**/*

# Sample Apps
sample-android:
  - sample-android/**/*
sample-ios:
  - sample-ios/**/*
sample-jvm:
  - sample-jvm/**/*

Clean Changelog and download-script
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/care/data4life/gradle/fhir/script/download-scripts.gradle.kts
Labels: scripts, dependencies, documentation

Bump Java 8 -> 11
  .java-version
Labels: none

Remove caching
  settings.gradle.kts
Labels: none

Change generator script to support new module structure
  buildSrc/src/main/kotlin/care/data4life/gradle/fhir/script/quality-spotless.gradle.kts
  fhir/build.gradle.kts
  generateFhir.main.kts
Labels: scripts, dependencies, fhir

Change factory to modules
  fhir-adapter/fhir3/src/commonMain/kotlin/care/data4life/hl7/fhir/stu3/FhirStu3ParserFactory.kt
  fhir-adapter/fhir4/src/commonMain/kotlin/care/data4life/hl7/fhir/r4/FhirR4Parser.kt
  fhir-adapter/fhir4/src/commonMain/kotlin/care/data4life/hl7/fhir/r4/FhirR4ParserFactory.kt
  fhir/src/commonMain/kotlin/care/data4life/hl7/fhir/parser/FhirParser.kt
Labels: fhir

Change to new lowercase
  fhir-adapter/fhir3/parser/templates/template-elementfactory.kt
  fhir-adapter/fhir3/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/stu3/model/FhirHelper.kt
  fhir-adapter/fhir4/parser/templates/template-elementfactory.kt
  fhir-adapter/fhir4/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/r4/model/FhirHelper.kt
Labels: none

Fix Instant access restrictions
  fhir-adapter/fhir3/src/commonMain/kotlin/care/data4life/hl7/fhir/stu3/primitive/Instant.kt
  fhir-adapter/fhir4/src/commonMain/kotlin/care/data4life/hl7/fhir/r4/primitive/Instant.kt
Labels: none

Fix test setup
  fhir-version/fhir-r4/src/commonMain/kotlin/care/data4life/hl7/fhir/r4/FhirR4Parser.kt
  fhir-version/fhir-r4/src/jvmTest/kotlin/care/data4life/hl7/fhir/test/util/FileHelper.kt
  fhir-version/fhir-stu3/src/commonMain/kotlin/care/data4life/hl7/fhir/stu3/FhirStu3Parser.kt
  fhir-version/fhir-stu3/src/commonMain/kotlin/care/data4life/hl7/fhir/stu3/FhirStu3ParserFactory.kt
  fhir-version/fhir-stu3/src/jvmTest/kotlin/care/data4life/hl7/fhir/test/util/FileHelper.kt
Labels: none

Change readme and add changelog entry
  CHANGELOG.adoc
  README.adoc
Labels: documentation

Add remaining FHIR3 models to complete the first iteration of adding required resources
  fhir-version/fhir-stu3-d4l-app/parser/templates/template-elementfactory.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/stu3/codesystem/LinkType.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/stu3/codesystem/RequestIntent.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/stu3/codesystem/RequestPriority.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/stu3/codesystem/RequestStatus.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/stu3/model/FhirHelper.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/stu3/model/Patient.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/stu3/model/ReferralRequest.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/stu3/model/ValueSet.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/jvmTest/kotlin/care/data4life/hl7/fhir/stu3/model/PatientFhirTest.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/jvmTest/kotlin/care/data4life/hl7/fhir/stu3/model/ReferralRequestFhirTest.kt
  fhir-version/fhir-stu3-d4l-app/src-gen/jvmTest/kotlin/care/data4life/hl7/fhir/stu3/model/ValueSetFhirTest.kt
  generateFhir.main.kts
Labels: none

Revert git versioning script change
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/fhir/script/versioning.gradle.kts
Labels: scripts, dependencies

Cleanup
  fhir-version/fhir-r4/src-gen/commonMain/kotlin/care/data4life/hl7/fhir/r4/model/MedicationStatement.kt
  fhir-version/fhir-r4/src-gen/jvmTest/kotlin/care/data4life/hl7/fhir/r4/model/MedicationStatementFhirTest.kt
Labels: none
