Repository d4l-data4life/hc-fhir-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-ios

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE.adoc
  - CHANGELOG.adoc
  - CONTRIBUTION.adoc

# Platform
library:
  - library/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-ios:
  - sample-ios/**/*

Change library module to fhir
  fhir/build.gradle.kts
  fhir/library.podspec
  fhir/src/androidMain/AndroidManifest.xml
  fhir/src/androidMain/kotlin/care/data4life/library/SampleAndroid.kt
  fhir/src/androidMain/kotlin/care/data4life/library/SampleClient.kt
  fhir/src/androidMain/proguard-rules.pro
  fhir/src/androidTest/kotlin/care/data4life/library/SampleTestsAndroid.kt
  fhir/src/commonMain/kotlin/care/data4life/library/Library.kt
  fhir/src/commonTest/kotlin/care/data4life/library/SampleTests.kt
  fhir/src/iosMain/kotlin/care/data4life/library/SampleClient.kt
  fhir/src/iosMain/kotlin/care/data4life/library/SampleIos.kt
  fhir/src/jvmMain/kotlin/care/data4life/library/SampleClient.kt
  fhir/src/jvmMain/kotlin/care/data4life/library/SampleJvm.kt
  fhir/src/jvmTest/kotlin/care/data4life/library/SampleTestsJVM.kt
  sample-android/build.gradle.kts
  settings.gradle.kts
Labels: sample-android

Update CHANGELOG, CODEOWNERS and PULL_REQUEST_TEMPLATE
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.adoc
Labels: build, documentation

Add direct framework integration into Xcode and remove use of Cocoapods
  README.adoc
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/LibraryConfig.kt
  fhir/build.gradle.kts
  fhir/library.podspec
  gradle.properties
  sample-ios/Podfile
  sample-ios/Podfile.lock
  sample-ios/SampleApp.xcodeproj/project.pbxproj
  sample-ios/SampleApp.xcodeproj/xcshareddata/xcschemes/SampleApp.xcscheme
  sample-ios/SampleApp.xcworkspace/contents.xcworkspacedata
  sample-ios/SampleApp.xcworkspace/xcshareddata/IDETemplateMacros.plist
  sample-ios/SampleApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  sample-ios/SampleApp/ContentView.swift
Labels: dependencies, documentation, sample-ios

Change package name to care.data4life.fhir
  buildSrc/src/main/kotlin/AppConfig.kt
  buildSrc/src/main/kotlin/LibraryConfig.kt
  fhir/src/androidMain/AndroidManifest.xml
  fhir/src/androidMain/kotlin/care/data4life/fhir/SampleAndroid.kt
  fhir/src/androidMain/kotlin/care/data4life/fhir/SampleClient.kt
  fhir/src/androidTest/kotlin/care/data4life/fhir/SampleTestsAndroid.kt
  fhir/src/commonMain/kotlin/care/data4life/fhir/Library.kt
  fhir/src/commonTest/kotlin/care/data4life/fhir/SampleTests.kt
  fhir/src/iosMain/kotlin/care/data4life/fhir/SampleClient.kt
  fhir/src/iosMain/kotlin/care/data4life/fhir/SampleIos.kt
  fhir/src/jvmMain/kotlin/care/data4life/fhir/SampleClient.kt
  fhir/src/jvmMain/kotlin/care/data4life/fhir/SampleJvm.kt
  fhir/src/jvmTest/kotlin/care/data4life/fhir/SampleTestsJVM.kt
  sample-android/src/androidTest/java/care/data4life/fhir/sample/ExampleInstrumentedTest.kt
  sample-android/src/main/AndroidManifest.xml
  sample-android/src/main/java/care/data4life/fhir/sample/Application.kt
  sample-android/src/main/java/care/data4life/fhir/sample/MainActivity.kt
  sample-android/src/main/res/layout/activity_main.xml
  sample-android/src/test/java/care/data4life/fhir/sample/ExampleUnitTest.kt
  sample-ios/SampleApp.xcodeproj/project.pbxproj
  sample-ios/SampleApp/Info.plist
Labels: dependencies, sample-android, sample-ios

Remove Ktor and SQLdelight
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  fhir/build.gradle.kts
  sample-android/build.gradle.kts
Labels: dependencies, sample-android

Update docs and README
  README.adoc
  docs/antora.yml
  docs/modules/ROOT/pages/index.adoc
  docs/package.json
  docs/site.yml
Labels: documentation

Add CHANGELOG entry
  CHANGELOG.adoc
Labels: documentation

Change pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build

Add FHIR-Parser as subproject set to hc-fhir branch
  .gitmodules
Labels: none

Add Python 3.7.8 to project and add installation instructions
  .python-version
  README.adoc
Labels: documentation

Update changelog
  CHANGELOG.adoc
Labels: documentation

Add instructions how to initialise the Git submodule
  .idea/vcs.xml
  README.adoc
Labels: documentation
